@charset "utf-8";
/* CSS Document */

/*header*/
.top{
	height:85px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	box-shadow:0px 3px 1px rgba(255,204,204,0.7);/*(17,17,17,0.7)*/
	background-color:white;
	z-index:2147483647;
}
#logo{
	float:left;
}
.ah{
	font-size:25px;
	font-family:"Courier New", Courier, monospace;
	position:fixed;
	left:13%;
	top:1%;
	text-shadow:5px 5px 15px #FF6666;
}
.ah a
{
	color:rgba(170,170,170,0.8);
}
.ah a:hover
{
	color:pink;
}
.ah ul{
	margin-bottom:10px;
}
.ah li{
	padding:0px;
	list-style:none;
	text-decoration:none;
	display:inline-block;
	margin-right:5px;
	margin-top:1px;
}
.ah a{
	text-decoration:none;
}
#LR{
	position:fixed;
	display:inline-block;
	top:5%;
	right:2%;
	
}
.btn
{
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	margin-right:10px;
	background-color:pink;
	padding: 10px 20px 8px 22px;
    line-height: normal;
    text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	text-decoration:none;
}
#LR a
{
	color:white;
}
#LR a:hover
{
	opacity:0.7;
	color:BLACK;
}
#LR a:visted
{
	box-shadow:0px 10px 10px black inset;
}

body
{
	background:url(../images/feedback/background.jpg);
	background-repeat:round;
	background-attachment:fixed;
	font-family: Microsoft YaHei UI ;
	color:#F66;
	
}

label
{
	display:block;
	margin-bottom:10px;
	margin-left:50px;
	
}
/*everything in one line */
form
{
	
	position:relative;
	background:rgba(255,255,255,0.4);
	width:550px;
	margin:0 auto;
	border-width:thick;
	border-radius:7px;
	padding:15px;
	margin-top:120px;
    
}



input[type="email"],
textarea
{
	width:70%;
	background:rgba(225,225,225,0.6);
	padding:10px 10px;
	margin-bottom:20px;
	font-size:18px;
	outline-color:#C9F;
	border-radius:30px;
	padding-left:50px;
	margin-left:50px;
	
	
}

textarea
{
	height:200px;
}

.icon-email{
	position: absolute;
    left: 10%;
	background-image:url(../images/feedback/email.png);
	background-repeat: no-repeat; 
	background-position: 0px 0px;
	width: 30px;
	height: 30px;
	margin-left: 18px;
	margin-top: 8px;
	
}

h1
{
	font-family:Arenski;
	text-align:center;
	font-size:36px;
	color:#000;

}
h3
{
	font-family:Arenski;
	text-align:center;
	font-size:28px;

}
button
{
	background:rgba(255,11,48,1);
	width:30%;
	color:#fff;
	font-size:28px;
	font-family:Arenski;
	margin-top:15px;
	margin-bottom:20px;
	margin-left:35%;
	margin-right:50%;
	outline:none;
	padding:10px;
	border-radius:25px;
}
/*footer*/
body{
	margin:0px;
	padding:0px;
}
html{
	width:100%;
}
#whole p{
	
	text-align:center;
	color:#000;
}
#connect
{
	font-family:"Segoe UI Light";
	text-align:center;
	margin-right:0px;
	font-size:18px;
	padding-top:10px;
	padding-bottom:70px;
	position:absolute;
	left:290px;
	top:90px;
}
#connect a
{
	text-decoration:none;
	margin-right:60px;
	color:#000;
	border:dotted;
	border-color:#F0FFF0;
	border-radius:10px;
}
//这里增加了
#connect a:hover
{
	color:#CDC1C5;
	border-color:#F33;
}
#whole
{
	background-color:#EEE0E5;
	left:0px;
	right:0px;
	margin-bottom:0px;
	margin-top:200px;
	margin-left:0;
	margin-right:0;
	width:100%;
	text-align:center;
	height:280px;
	bottom:0;
	position:relative;
}
#follow_us
{
	padding-top:20px;
	opacity:0.5;
	font-size:36px;
	font-family:"Courier New", Courier, monospace;
	text-align:center;
}
#copyright
{
	margin-top:0;
	margin-bottom:0;
	padding:0px;
	font-family:"Segoe UI Light";
	position:absolute;
	top:190px;
	left:450px;
}
#thanks
{
	margin-top:0;
	margin-bottom:0;
	padding:0px;
	font-family:"Segoe UI Light";
	position:absolute;
	top:220px;
	left:565px;
}
/*gotop*/
.cbbfixed 
{
	position: fixed;
	right: 10px;
	transition: bottom ease .3s;
	bottom: -85px;
	z-index: 3;
	cursor:pointer;
}
.cbbfixed .cbbtn 
{
	width: 40px;
	height: 40px;
	display: block;
	background-color: #FCC;
}
.cbbfixed .gotop 
{
	transition: background-color ease .3s;
	margin-top: 1px;
}
.cbbfixed .gotop .up-icon
{
	float:left;
	margin:14px 0 0 9px;
	width:23px;
	height:12px;
	background: url(../images/side-icon02.png);
}
.cbbfixed .gotop:hover 
{
	background-color:#FC9;
}
.cbbfixed .cweixin 
{
	background: #dadbdd;;
}
.cbbfixed .cweixin div 
{
	background: url(../images/erwei.png);
	width: 194px;
	height: 199px;
	position: absolute;
	left: -194px;
	top: -115px;
	opacity: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
	transform-origin: 100% 70%;
	-webkit-transform-origin: 100% 70%;
	transition: transform ease .3s,opacity ease .3s;
	-webkit-transition: all ease .3s;
	display:none\0;
	*display:none;
}
.cbbfixed .cweixin:hover div 
{
	display: block;
	transform: scale(1);
	-webkit-transform: scale(1);
	opacity:1;
	*display:block;
}
.cbbfixed .cweixin .weixin-icon
{
	float: left;
	margin:12px 0 0 11px;
	width:18px;
	height: 18px;
	 background: url(../images/side-icon01.png);
}