@charset "utf-8";
/* CSS Document */
/*header*/
.top{
	height:85px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	box-shadow:0px 3px 1px rgba(255,204,204,0.7);/*(17,17,17,0.7)*/
	background-color:white;
	z-index:2147483647;
}
#logo{
	float:left;
}
.ah{
	font-size:25px;
	font-family:"Courier New", Courier, monospace;
	position:fixed;
	left:13%;
	top:1%;
	text-shadow:5px 5px 15px #FF6666;
	z-index:100;
}
.ah a
{
	color:rgba(170,170,170,0.8);
}
.ah a:hover
{
	color:pink;
}
.ah ul{
	margin-bottom:10px;
}
.ah li{
	padding:0px;
	list-style:none;
	text-decoration:none;
	display:inline-block;
	margin-right:5px;
	margin-top:1px;
}
.ah a{
	text-decoration:none;
}
#LR{
	position:fixed;
	display:inline-block;
	top:5%;
	right:2%;
	
}
.btn
{
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	margin-right:10px;
	background-color:pink;
	padding: 10px 20px 8px 22px;
    line-height: normal;
    text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	text-decoration:none;
}
#LR a
{
	color:white;
}
#LR a:hover
{
	opacity:0.7;
	color:BLACK;
}
#LR a:visted
{
	box-shadow:0px 10px 10px black inset;
}

/*body*/
#main
{
	margin-top:5%;
	overflow:hidden;
	padding:10px;
}
#content
{
	position:relative;
	box-shadow:3px 3px 30px rgb(153,204,153);
	border:2px solid rgb(153,204,153);
	border-radius:20px;
	float:left;
	width:70%;
	margin:20px;
	height:6000px;
	padding:10px;
	font-family:;
	letter-spacing:1px;
	line-height:20px;
}
#title
{
	font-family:"Big John";
	text-align:center;
	color:rgb(141,159,123);
	text-shadow:0 0 8px rgb(141,159,123);
	margin-top:4%;
}
#word
{
	font-family:"Segoe Script";
	text-align:center;
	margin-top:5%;
	color:rgb(0,102,0);
}
.picture
{
	margin-left:6.5%;
}
.pic
{
	margin-top:4%;
}
#moretheme
{
	margin-top:20px;
	padding:30px;
	box-shadow:3px 3px 30px rgb(153,204,153);
	border:2px solid rgb(153,204,153);
	border-radius:20px;
	height:230px;
}
#designer
{
	margin-top:20px;
	padding:30px;
	box-shadow:3px 3px 30px rgb(153,204,153);
	border:2px solid rgb(153,204,153);
	border-radius:20px;
	font-family:"Big John";
	color:rgb(85,85,85);
	
}
#designers
{
	font-family:"Big John";
	text-align:center;
	color:rgb(141,159,123); 
	text-shadow:0 0 8px rgb(141,159,123);
	margin-top:0px;
}
#planner
{
	cursor:pointer;
	font-family:"Segoe Script";
	font-size:18px;
	color:rgb(141,159,123);
	text-shadow:0 0 8px rgb(141,159,123);
	text-align:center;
	margin-bottom:0px;
}
.mtitle
{
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	text-align:center;
	line-height:18px;
	margin-top:0;
	cursor:pointer;
	color:#FF9966;
	text-shadow:0 0 8px #FF9966;
	
}

#others
{
	position:fixed;
	right:1.4%;
	width:23%;
	float:left;
}
/*footer*/
body{
	margin:0px;
	padding:0px;
}
html{
	width:100%;
}
#whole p{
	
	text-align:center;
	color:#000;
}
#connect
{
	font-family:"Segoe UI Light";
	text-align:center;
	margin-right:0px;
	font-size:18px;
	padding-top:10px;
	padding-bottom:70px;
	position:absolute;
	left:290px;
	top:90px;
}
#connect a
{
	text-decoration:none;
	margin-right:60px;
	color:#000;
	border:dotted;
	border-color:#F0FFF0;
	border-radius:10px;
}
//这里增加了
#connect a:hover
{
	color:#CDC1C5;
	border-color:#F33;
}
#whole
{
	background-color:#EEE0E5;
	left:0px;
	right:0px;
	margin-bottom:0px;
	margin-left:0;
	margin-right:0;
	width:100%;
	text-align:center;
	height:280px;
	bottom:0;
	position:relative;
}
#follow_us
{
	padding-top:20px;
	opacity:0.5;
	font-size:36px;
	font-family:"Courier New", Courier, monospace;
	text-align:center;
}
#copyright
{
	margin-top:0;
	margin-bottom:0;
	padding:0px;
	font-family:"Segoe UI Light";
	position:absolute;
	top:190px;
	left:450px;
}
#thanks
{
	margin-top:0;
	margin-bottom:0;
	padding:0px;
	font-family:"Segoe UI Light";
	position:absolute;
	top:220px;
	left:565px;
}
/*gotop*/
.cbbfixed 
{
	position: fixed;
	right: 10px;
	transition: bottom ease .3s;
	bottom: -85px;
	z-index: 3;
	cursor:pointer;
}
.cbbfixed .cbbtn 
{
	width: 40px;
	height: 40px;
	display: block;
	background-color: #FCC;
}
.cbbfixed .gotop 
{
	transition: background-color ease .3s;
	margin-top: 1px;
}
.cbbfixed .gotop .up-icon
{
	float:left;
	margin:14px 0 0 9px;
	width:23px;
	height:12px;
	background: url(../images/side-icon02.png);
}
.cbbfixed .gotop:hover 
{
	background-color:#FC9;
}
.cbbfixed .cweixin 
{
	background: #dadbdd;;
}
.cbbfixed .cweixin div 
{
	background: url(../images/erwei.png);
	width: 194px;
	height: 199px;
	position: absolute;
	left: -194px;
	top: -115px;
	opacity: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
	transform-origin: 100% 70%;
	-webkit-transform-origin: 100% 70%;
	transition: transform ease .3s,opacity ease .3s;
	-webkit-transition: all ease .3s;
	display:none\0;
	*display:none;
}
.cbbfixed .cweixin:hover div 
{
	display: block;
	transform: scale(1);
	-webkit-transform: scale(1);
	opacity:1;
	*display:block;
}
.cbbfixed .cweixin .weixin-icon
{
	float: left;
	margin:12px 0 0 11px;
	width:18px;
	height: 18px;
	 background: url(../images/side-icon01.png);
}